:root {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
}

a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
  opacity: 80%;
  filter: brightness(40%);
  object-fit: cover;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;

  }
}

/* GLOBAL STYLES
  --------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS Index
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


/* HomePage
-------------------------------------------------- */

.img-container {
  width: 20rem;
}

.auto-flex {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.spacer-homePage {
  margin: 1rem;
  padding: 1rem;
}

.rating {
  display: inline-block;
  direction: rtl;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
}

.rating input[type="radio"]:checked~label {
  color: #ffcc00;
}


.reel {
  display: grid;
  gap: 20rem;
  grid-auto-flow: column;
  grid-auto-columns: calc(3% - (1rem/2));
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  overflow: hidden;
}

.reel>* {
  scroll-snap-align: start;

}


/* Editar restaurantes
-------------------------------------------------- */

.bloque {
  height: 20vh;
  width: 40vh;
  margin-top: 40px;
  margin-left: 20px;
  border-right: 1px solid #595959;
}

.contenido-bloque {
  font-size: 20px;
  margin-bottom: 50px;
}

.img-editar {
  width: 100%;
  height: auto;
}

.titulo-editar {
  font-style: italic;
  font-size: 30px;
  margin-left: 30%;
  text-align: justify;
}

.btn-editar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}

/* Inicio sesion
-------------------------------------------------- */

.body-login {
  background-color: #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container-login {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: #F2F2F2;
}

.titulo-login {
  margin-top: 0;
  color: #F2F2F2;

}

.login {
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.login label {
  margin-bottom: 10px;
  color: #F2F2F2;
  justify-self: left;
}

.login input {
  background-color: #F2F2F2;
  border: none;
  border-radius: 15px;
  width: 470px;
  height: 40px;
  margin-bottom: 10px;
}

.btn-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Registro
-------------------------------------------------- */

.body-registro {
  margin: 0;
  padding: 0;
}

.container-registro {
  display: flex;
  height: 100vh;
}

.left-half {
  flex: 1;
  background-color: #BFBFBF;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-half p {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-size: 20px;
}

.right-half h2 {
  margin-top: 0;
  margin-left: 60px;
}

.right-half form {
  width: 300px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.right-half form label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

.right-half form input[type="text"] {
  background-color: #BFBFBF;
  border: none;
  border-radius: 15px;
  width: 350px;
  height: 40px;
}

.btn-registro {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 60px;
}

/* Inicio admin
-------------------------------------------------- */

.opiniones {
  width: 100px;
  padding: 50px;
}

.ratingOpinion label {
  font-size: 15px;
  color: #ddd;
  cursor: pointer;
}

.ratingOpinion input[type="radio"] {
  display: none;
}

.ratingOpinion label {
  font-size: 15px;
  color: #ddd;
  cursor: pointer;
}

.ratingOpinion label:before {
  content: "\2605";
}

.ratingOpinion input[type="radio"]:checked~label {
  color: #ffcc00;
}

.btn-plus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

/* Agregar restaurantes
-------------------------------------------------- */

.restaurante-datos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-restaurante {
  align-items: center;
  justify-content: flex-start;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10px;
  margin-right: 50px;
  display: flex;
}

.img-res-container {
  width: 100%;
  height: auto;
}

.campo {
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.campo label {
  margin-bottom: 10px;
  text-size-adjust: 50px;
  text-align: justify;
  justify-content: center;
}

.campo input {
  background-color: #BFBFBF;
  border: none;
  border-radius: 15px;
  width: 470px;
  height: 40px;
  margin-bottom: 10px;
}

.btn-contenedor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-agregar {
  background-color: #595959;
  color: #F2F2F2;
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 15px;
}

/* Restaurante Cliente
-------------------------------------------------- */
.info-restaurante {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  gap: 1rem;
  margin: 2rem;
}

.info-restaurante img {
  width: 100%;
}

.info-restaurante section>p{
  margin-bottom: 3rem;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.row > * {
  max-width: 12em;
}

.row > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  padding-top: 2rem;
}

/* Restaurante Cliente Opinion
-------------------------------------------------- */
aside {
  display: flex;
  margin: 1rem;
  width: 30%;
  height: 100%;
  align-items: center;
}

aside img {
  width: 80%;
  margin-top: 1rem;
}

.op-container {
  display: flex;
}

.op-form-container {
  display: grid;
  width: 100%;
  margin-top: 2rem;
}

.op-form-container form > label{
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
}

.ratingForm {
  display: flex;
  direction: rtl;
  justify-content: flex-end;
}

.ratingForm input[type="radio"] {
  display: none;
}

.ratingForm label {
  font-size: 3rem;
  color: #ddd;
  cursor: pointer;
}

.ratingForm label:before {
  content: "\2606";
}

.ratingForm input[type="radio"]:checked~label::before {
  content: "\2605";
  color: #ffcc00;
}

.op-form-container form > textarea {
  width: 80%;

}

@media(max-width: 768px) {
  .op-container {
      display: grid;
  }

  .op-container aside {
    width: 100%;
    float: none;
  }

  .op-form-container,
  .op-form-container form>textarea {
    margin: 1rem;
  }

  .col-4 {
    width: 40%;
  }  
}

/* html {
  width: 100%;
  height: 100%;
} */
